* {
    box-sizing: border-box;
    
    
    
  }
  
  body {
    color: #0c0c0c;
    line-height: 1.5;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
    sans-serif;
    
    
  
      
  }
  
  /* 
  =================
  Table
  =====================
  */
  
  .table_container {
    width: 100%;
    /* max-height: 500px; */
    margin: 0 auto;
    overflow: auto;
   
    
  
  }
  
  .table {
    width: 100%;
    border-spacing: 0;
    border-radius: 10px;
    color: rgb(7, 7, 7);
    border: 1px solid #1a1a1a;
  }
  
  caption {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
  }
  
  .table th {
    background: rgb(247, 247, 247);
    padding: 8px 10px;
    border: 1px #1a1a1a;
    font-weight: bold;
    text-align: left;
    
  
  }
  
  .table th.up {
    background-image: url("../../images/up_arrow.png");
  }
  .table th.down {
    background-image: url("../../images/down_arrow.png");
  }
  .table th.default {
    background-image: url("../../images/default.png");
  }
  th.up,
  th.default,
  th.down {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
  }
  
  .table td {
    border: 1px solid #ddd;
    padding: 8px 20px;
  }
  
  .table tbody tr:first-child td {
    border-top: none;
  }
  
  .table tbody tr:nth-child(n) td {
    background: #477ffa;
  }
  
  .table tbody tr:nth-child(2n) td {
    background: rgb(23, 149, 252);
  }